@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "KalamehRegular";
  src:
    url(../assets/fonts/Kalameh-Regular.woff) format("woff"),
    url(../assets/fonts/Kalameh-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "KalamehBold";
  src:
    url(../assets/fonts/Kalameh-Bold.woff) format("woff"),
    url(../assets/fonts/Kalameh-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "KalamehExtraBold";
  src:
    url(../assets/fonts/Kalameh-ExtraBold.woff) format("woff"),
    url(../assets/fonts/Kalameh-ExtraBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
}

body {
  direction: rtl;
}

.btn-send {
  @apply btn  relative ml-6 overflow-hidden rounded-lg bg-primary px-14 py-3.5 text-center text-black duration-300 hover:bg-[#111111] hover:text-primary focus:outline-none focus:ring-4 focus:ring-primary dark:bg-primary dark:hover:bg-[#111111] dark:focus:ring-primary;
}

.btn-shadow {
  @apply absolute inset-0 -right-4 h-24 w-[2.3rem] rotate-[38deg] bg-yellow-500 opacity-30;
}

body {
  direction: rtl;
}

.btn-send {
  @apply btn  relative ml-6 overflow-hidden rounded-lg bg-primary px-14 py-3.5 text-center text-black duration-300 hover:bg-[#111111] hover:text-primary focus:outline-none focus:ring-4 focus:ring-[#111111] dark:bg-primary dark:hover:bg-[#111111] dark:focus:ring-primary;
}

.btn-shadow {
  @apply absolute inset-0 -right-4 h-24 w-[2.3rem] rotate-[38deg] bg-yellow-500 opacity-30;
}

.Custom-Toast {
  @apply flex w-full max-w-xs items-center rounded-lg bg-white p-4 text-gray-500 shadow dark:bg-gray-800 dark:text-gray-400;
}

.header-1 {
  font-family: "KalamehBold";
  font-family: "Kalameh";
  font-size: 2.41406rem;
  font-weight: 800;
  @media screen and (min-width: 768px) {
    font-size: 7.61406rem;
  }
}

.header-2 {
  font-family: "KalamehExtraBold";
  font-size: 6.28713rem;
  font-weight: 800;
  @media screen and (max-width: 1068px) {
    font-size: 3.61406rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 4.61406rem;
  }
}

.header-3 {
  font-family: "KalamehExtraBold";
  font-size: 4.75rem;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-size: 1.36719rem;
  }
}

.header-4 {
  font-family: "KalamehBold";
  font-size: 3.35906rem;
  line-height: 140%;
  @media screen and (max-width: 1068px) {
    font-size: 2.2rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.header-5 {
  font-family: "KalamehRegular";
  font-size: 3.05663rem;
  font-weight: 700;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-size: 2.1875rem;
  }
}

.header-6 {
  font-family: "KalamehBold";
  font-size: 2.85375rem;
  font-weight: 500;
  line-height: 150.5%;
  color: #fff;
  @media screen and (max-width: 1068px) {
    font-size: 1.81406rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.21406rem;
  }
}

.title {
  font-family: "KalamehBold";
  font-size: 2.61744rem;
  line-height: 150.5%;
  @media screen and (max-width: 758px) {
    font-size: 1.43rem;
  }
}

.title-1 {
  font-family: "KalamehBold";
  font-size: 2.5125rem;
  line-height: 150.5%;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.title-2 {
  font-family: "KalamehBold";
  font-size: 1.8622rem;
  line-height: 150.5%;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.title-3 {
  font-family: "KalamehRegular";
  font-size: 1.8125rem;
  line-height: 150.5%;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 0.737rem;
  }
}

.title-4 {
  font-family: "KalamehRegular";
  font-size: 1.5625rem;
  line-height: 150%;
  @media screen and (max-width: 758px) {
    font-size: 0.5rem;
  }
}

.subtitle-1 {
  font-family: "KalamehRegular";
  font-size: 1.36213rem;
  line-height: 150.5%;
  @media screen and (max-width: 758px) {
    font-size: 0.70431rem;
  }
}

.subtitle-2 {
  font-family: "KalamehRegular";
  font-size: 1.06663rem;
  line-height: 140%;
  @media screen and (max-width: 1068px) {
    font-size: 0.83rem;
  }
  @media screen and (max-width: 758px) {
    font-size: 0.63rem;
  }
}

.subtitle-3 {
  font-family: "Kalameh";
  font-size: 2.35719rem;
  line-height: 141.5%;
  @media screen and (max-width: 1068px) {
    font-size: 0.862rem;
  }
}
.miniText {
  font-family: "KalamehRegular";
  font-size: 0.7rem;
  line-height: 140%;
  @media screen and (max-width: 758px) {
    font-size: 0.63rem;
  }
}

.btn {
  font-family: "KalamehBold";
  font-size: 1.3rem;
  line-height: 150.5%;
  @media screen and (max-width: 758px) {
    font-size: 0.83rem;
  }
}
.btn-2 {
  font-family: "KalamehRegular";
  font-size: 1.059rem;
  line-height: 140%;
}

.number {
  font-family: "KalamehBold";
  font-size: 7.56819rem;
  line-height: 140%;
  @media screen and (max-width: 758px) {
    font-size: 4.63rem;
  }
}

.carousel {
  position: relative;
  width: 85%;
  height: 23rem;
  perspective: 500px;
  transform-style: preserve-3d;
}
.card-container {
  position: absolute;
  width: 20%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #fea918;
  border-radius: 1rem;
  color: #9ca3af;
  text-align: justify;
  transition: all 0.3s ease-out;
}
.card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1f2937;
}
.card p,
.card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}
.bg-primary {
  background-color: #fea918;
}

.bg-gray {
  background-color: gray; /* or your desired shade of gray */
}
.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 35%;
  z-index: 2;
  cursor: pointer;
  /* user-select: none; */
}
.nav.left {
}

.nav.right {
  margin-right: -3rem;
}
