@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "KalamehThin";
  src:
    url(../assets/fonts/Kalameh-Thin.woff) format("woff"),
    url(../assets/fonts/Kalameh-Thin.woff2) format("woff2");
  font-style: normal;
  font-size: 100;
}

@font-face {
  font-family: "KalamehExtraLight";
  src:
    url(../assets/fonts/Kalameh-ExtraLight.woff) format("woff"),
    url(../assets/fonts/Kalameh-ExtraLight.woff2) format("woff2");
  font-style: normal;
  font-size: 200;
}

@font-face {
  font-family: "KalamehLight";
  src:
    url(../assets/fonts/Kalameh-Light.woff) format("woff"),
    url(../assets/fonts/Kalameh-Light.woff2) format("woff2");
  font-style: normal;
  font-size: 300;
}

@font-face {
  font-family: "KalamehRegular";
  src:
    url(../assets/fonts/Kalameh-Regular.woff) format("woff"),
    url(../assets/fonts/Kalameh-Regular.woff2) format("woff2");
  font-style: normal;
  font-size: 400;
}

@font-face {
  font-family: "KalamehMedium";
  src:
    url(../assets/fonts/Kalameh-Medium.woff) format("woff"),
    url(../assets/fonts/Kalameh-Medium.woff2) format("woff2");
  font-style: normal;
  font-size: 500;
}

@font-face {
  font-family: "KalamehSemiBold";
  src:
    url(../assets/fonts/Kalameh-SemiBold.woff) format("woff"),
    url(../assets/fonts/Kalameh-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-size: 600;
}

@font-face {
  font-family: "KalamehBold";
  src:
    url(../assets/fonts/Kalameh-Bold.woff) format("woff"),
    url(../assets/fonts/Kalameh-Bold.woff2) format("woff2");
  font-style: normal;
  font-size: 700;
}

@font-face {
  font-family: "KalamehExtraBold";
  src:
    url(../assets/fonts/Kalameh-ExtraBold.woff) format("woff"),
    url(../assets/fonts/Kalameh-ExtraBold.woff2) format("woff2");
  font-style: normal;
  font-size: 800;
}

@font-face {
  font-family: "KalamehBlack";
  src:
    url(../assets/fonts/Kalameh-Black.woff) format("woff"),
    url(../assets/fonts/Kalameh-Black.woff2) format("woff2");
  font-style: normal;
  font-size: 900;
}

body {
  direction: rtl;
}

/* header-1 {
  font-family: "KalamehBold";
  font-size: large;
  @media screen and (max-width: 768px) {
    font-size: medium;
    
  }
} */

.btn-send {
  @apply Btn  relative ml-6 overflow-hidden rounded-lg bg-primary px-14 py-3.5 text-center text-black duration-300 hover:bg-[#111111] hover:text-primary focus:outline-none focus:ring-4 focus:ring-primary dark:bg-primary dark:hover:bg-[#111111] dark:focus:ring-primary;
}

.btn-shadow {
  @apply absolute inset-0 -right-4 h-24 w-[2.3rem] rotate-[38deg] bg-yellow-500 opacity-30;
}

.btn-cancel {
  @apply Btn rounded-lg bg-black px-16 py-3.5 text-center text-white duration-300 hover:bg-primary focus:outline-none focus:ring-4 focus:ring-[#111111] dark:bg-[#111111] dark:hover:bg-primary dark:focus:ring-[#111111];
}

.header-1 {
  font-family: "KalamehBold";
  font-size: 7.61406rem;
}

.header-2 {
  font-family: "KalamehExtraBold";
  font-size: 6.28713rem;
  font-weight: 800;
}

.header-3 {
  font-family: "KalamehRegular";
  font-size: 2.61744rem;
  font-weight: 500;
  line-height: 150.5%;
  color: #fff;
}

.header-4 {
  font-family: "KalamehRegular";
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 150.5%;
}
.header-5 {
  font-family: "KalamehBold";
  font-size: 1.5rem;
  line-height: 140%;
}

.header-6 {
  font-family: "KalamehBold";
  font-size: 2.85375rem;
  line-height: 150.5%;
}

.title {
  font-family: "KalamehExtraBold";
  font-size: 4.75rem;
  line-height: 140%;
}

.title-2 {
  font-family: "KalamehRegular";
  font-size: 3.05663rem;
  font-weight: 700;
  line-height: 140%;
}

.subtitle {
  font-family: "KalamehRegular";
  font-size: 1.8125rem;
  line-height: 150.5%;
}

.subtitle-1 {
  font-family: "KalamehBold";
  font-size: 2.5125rem;
  line-height: 150.5%;
}

.subtitle-2 {
  font-family: "KalamehBold";
  font-size: 3.35906rem;
  line-height: 140%;
}

.subtitle-3 {
  font-family: "KalamehBold";
  font-size: 1.9375rem;
  line-height: 140%;
}

.Body {
  font-family: "KalamehRegular";
  font-size: 1.16663rem;
  line-height: 140%;
}
.Body-2 {
  font-family: "KalamehRegular";
  font-size: 1.5625rem;
  line-height: 150%;
}

.Body-3 {
  font-family: "KalamehRegular";
  font-size: 1.4375rem;
  line-height: 140%;
}

.Btn {
  font-family: "KalamehRegular";
  font-size: 1.3rem;
  line-height: 150.5%;
}
.Btn-2 {
  font-family: "KalamehRegular";
  font-size: 1.059rem;
  line-height: 140%;
}

.number {
  font-family: "KalamehBold";
  font-size: 7.56819rem;
  line-height: 140%;
}

.number-1 {
  font-family: "KalamehBold";
  font-size: 18.47456rem;
  line-height: 140%;
}
