@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "KalamehRegular";
  src:
    url(../assets/fonts/Kalameh-Regular.woff) format("woff"),
    url(../assets/fonts/Kalameh-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "KalamehBold";
  src:
    url(../assets/fonts/Kalameh-Bold.woff) format("woff"),
    url(../assets/fonts/Kalameh-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "KalamehExtraBold";
  src:
    url(../assets/fonts/Kalameh-ExtraBold.woff) format("woff"),
    url(../assets/fonts/Kalameh-ExtraBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
}

body {
  direction: rtl;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.header-1 {
  font-family: "KalamehBold";
  font-size: 2.41406rem;
  font-weight: 800;
  @media screen and (min-width: 768px) {
    font-size: 7.61406rem;
  }
}

.header-1-plus {
  font-family: "KalamehBold";
  font-size: clamp(1.9rem, 7vw, 7.11406rem);
  font-weight: 800;
  /* @media screen and (min-width: 768px) {
    font-size: 7.11406rem;
  } */
}

.header-2 {
  font-family: "KalamehExtraBold";
  font-size: clamp(2.05rem, 6vw, 6.18713rem);
  font-weight: 800;
  /* @media screen and (max-width: 1068px) {
    font-size: 3.61406rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 2.11406rem;
  } */
}

.header-3 {
  font-family: "KalamehExtraBold";
  font-size: clamp(1.36719rem, 5.5vw, 3.05rem);
  line-height: 140%;
}

.header-3-plus {
  font-family: "KalamehExtraBold";
  font-size: clamp(1.36719rem, 4vw, 4.75rem);
  line-height: 140%;
  /* @media screen and (max-width: 768px) {
    font-size: 1.36719rem;
  } */
}

.header-4 {
  font-family: "KalamehBold";
  font-size: 3.35906rem;
  line-height: 140%;
  @media screen and (max-width: 1468px) {
    font-size: 2.2rem;
  }
  @media screen and (max-width: 1068px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.20669rem;
  }
}
.header-4-plus {
  font-family: "KalamehBold";
  font-size: 4.35906rem;
  line-height: 140%;
  @media screen and (max-width: 1468px) {
    font-size: 3.6rem;
  }
  @media screen and (max-width: 1068px) {
    font-size: 3.8rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 2.4rem;
  }
}

.header-5 {
  font-family: "KalamehRegular";
  font-size: 3.05663rem;
  font-weight: 700;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-size: 2.0875rem;
  }
}
.about-5 {
  font-family: "KalamehBold";
  font-size: 3.05663rem;
  font-weight: 700;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-family: "KalamehBold";
    font-size: 2.1875rem;
  }
}

.header-6 {
  font-family: "KalamehRegular";
  font-size: clamp(0.95rem, 3vw, 2.05375rem);
  font-weight: 500;
  line-height: 150.5%;
  color: #fff;
}

.title {
  font-family: "KalamehBold";
  font-size: 1.61744rem;
  line-height: 130.5%;
  @media screen and (max-width: 968px) {
    font-family: "KalamehBold";

    font-size: 1.53rem;
  }
  @media screen and (max-width: 758px) {
    font-size: 0.97181rem;
    font-family: "KalamehBold";
  }
}

.title-1 {
  font-family: "KalamehBold";
  font-size: 2.5125rem;
  line-height: 150.5%;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.title-2 {
  font-family: "KalamehBold";
  font-size: 1.8622rem;
  line-height: 150.5%;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.title-3 {
  font-family: "KalamehRegular";
  font-size: clamp(1rem, 1.4vw, 1.4125rem);
  line-height: 110.5%;
  font-weight: 400;
  /* @media screen and (max-width: 608px) {
    font-size: 1.237rem;
  } */
}

.title-3-plus {
  font-family: "KalamehRegular";
  line-height: 110.5%;
  font-weight: 500;
  font-size: clamp(0.737rem, 2.8vw, 1.82563rem);
}

.title-4 {
  font-family: "KalamehRegular";
  font-size: clamp(0.5rem, 2vw, 1.5625rem);
  line-height: 140%;
}
.title-5 {
  font-family: "KalamehRegular";
  font-size: clamp(0.45rem, 1.5vw, 1.2625rem);
  /* font-size: 1.5625rem; */
  line-height: 140%;
  /* @media screen and (max-width: 758px) {
    font-size: 0.5rem;
  } */
}

.subtitle-1 {
  font-family: "KalamehRegular";
  font-size: clamp(0.75rem, 2.8vw, 1.36213rem);
  line-height: 150.5%;
  /* @media screen and (max-width: 758px) {
    font-size: 0.70431rem;
  } */
}

.subtitle-2 {
  font-family: "KalamehRegular";
  font-size: 1.06663rem;
  line-height: 140%;
  @media screen and (max-width: 1068px) {
    font-size: 0.83rem;
  }
  @media screen and (max-width: 758px) {
    font-size: 0.63rem;
  }

  @media screen and (max-width: 658px) {
    font-size: 0.48rem;
  }
}
.change-2 {
  font-family: "KalamehRegular";
  font-size: 1.06663rem;
  line-height: 140%;
  @media screen and (max-width: 1068px) {
    font-size: 0.83rem;
  }
  @media screen and (max-width: 758px) {
    font-size: 1.36rem;
  }

  @media screen and (max-width: 658px) {
    font-size: 0.6875rem;
  }
}

.subtitle-3 {
  font-family: "KalamehBold";
  font-size: 1.8125rem;
  line-height: 150.5%;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    font-size: 0.85rem;
  }
}

.miniText {
  font-family: "KalamehRegular";
  font-size: 0.7rem;
  line-height: 140%;
  @media screen and (max-width: 758px) {
    font-size: 0.63rem;
  }
}

.btn {
  font-family: "KalamehBold";
  font-size: 1.3rem;
  line-height: 150.5%;
  @media screen and (max-width: 758px) {
    font-size: 0.83rem;
  }
}
.btn-2 {
  font-family: "KalamehRegular";
  font-size: 1.059rem;
  line-height: 140%;

  @media screen and (max-width: 758px) {
    font-size: 0.83rem;
  }
}

.number {
  font-family: "KalamehBold";
  font-size: clamp(3.03rem, 7vw, 7.16819rem);
  line-height: 140%;
}
.number-2 {
  font-family: "KalamehBold";
  font-size: 8rem;
  line-height: 140%;
  @media screen and (min-width: 768px) {
    font-size: 15rem;
  }
}

.word-spacing {
  word-spacing: 4px;
}

.word-spacing-1 {
  word-spacing: 12px;
}

.carousel {
  position: relative;
  width: 90%;
  height: 23rem;
  perspective: 900px;
  transform-style: preserve-3d;
}
.card-container {
  position: absolute;
  width: 0%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #fea918;
  border-radius: 1rem;
  color: #9ca3af;
  text-align: justify;
  transition: all 0.3s ease-out;
}
.card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1f2937;
}
.card p,
.card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}
.bg-primary {
  background-color: #fea918;
}

.bg-gray {
  background-color: gray; /* or your desired shade of gray */
}
.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 35%;
  z-index: 2;
  cursor: pointer;
  /* user-select: none; */
}
.nav.left {
}

.nav.right {
  margin-right: -3rem;
}
.nav.disabled {
  /* Add your styles for disabled buttons here */
  opacity: 0.5; /* Example: lower opacity */
  pointer-events: none; /* Ensures the button is not clickable */
}

.read-more-check {
  display: none;
}
.read-more-label:before {
  top: 0.4rem;
  position: absolute;
  color: white;
  right: 1rem;
  font-size: 1rem;
  transform: rotate(180deg);
}
.read-more-check:checked ~ .read-more-label:before {
  top: 0.7rem;
  transform: rotate(0);
}
/* .read-more-label:after {
  content: "ادامه";
}
.read-more-check:checked ~ .read-more-label:after {
  content: "کم";
} */
.read-more-label {
  animation: ring 1.5s infinite; /* Add this line */

  color: #fea918;
  text-shadow: 0 0.1rem 0.3rem rgba(255, 255, 255, 0.3);
  cursor: pointer;
  /* box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.4); */
  transition: bottom 0.5s linear 0s;
}
.read-more-check:checked ~ .read-more-label {
  bottom: 1rem;
}
/* 
@keyframes ring {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 169, 24, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(254, 169, 24, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 169, 24, 0);
  }
} */
/*
  The styles above aren't related with the functionality
*/
.read-more {
  max-height: 0;
  display: block;
  overflow: hidden;
  transition: max-height 0.5s linear 0s;
  color: white;
}
/*
The down side of this approach is that you have to know what will be the max-height in advance
*/
.read-more-check:checked ~ .read-more {
  max-height: 20rem;
}
/* @media (min-width: 769px) {
  .read-more-check:checked ~ .read-more {
    max-height: 40rem;
  }
} */
@media (max-width: 768px) {
  .read-more-check:checked ~ .read-more {
    max-height: 90rem;
  }
}
@media (min-width: 769px) {
  .read-more-check:checked ~ .read-more {
    max-height: 90rem;
  }
}
